<% if (typeof entries === 'undefined') { %>
	Display collections
<% } else { %>
	<div class="jumbotron" style="background: #AAAAAA; color: #FFFFFF">
		<h1 class="text-xs-center">
			<%= schemaName + 's' %>
		</h1>
	</div>
	<div>
		<table class="table table-bordered table-striped table-sm table-inverse">
			<thead>
				<tr>
					<% for (let i = 0; i < paths.length; i++) { %>
						<th>
							<%= paths[i]
										.substring(0, 1)
										.toUpperCase() +

									paths[i]
										.substring(1);
							%>
						</th>
					<% } %>
				</tr>
			</thead>
			<tbody>
				<% for (let i = 0; i < entries.length; i++) { %>
					<%- 
						include(
							`modelTemplates/${schemaName.toLowerCase()}.ejs`,
							{ entry: entries[i] }
						) 
					%>
				<% } %>	
			</tbody>
		</table>
	</div>
<% } %>