<script src="static/index.js"></script>
<div class="alert alert-info">
  <h1 class="text-xs-center">
    Welcome!
  </h1>
</div>
<div class="row">
  <div class="col-xs-3 text-xs-center">
    <a href="/checkin" class="btn btn-info col-xs-12">
      <h3>Check in</h3>
    </a>
    &nbsp
    <button type="button" onclick="sendAttendenceConfirm();" class="btn btn-info col-xs-12">
      <h3>Send attendence</h3>
    </button>
    &nbsp
    <a href="/collections/show" class="btn btn-info col-xs-12">
      <h3>Collections</h3>
    </a>
  </div>
  <div class="col-xs-9">
    <table class="table table-bordered table-sm table-inverse">
      <thead>
        <tr>
          <th width="40%">
            Last name
          </th>
          <th width="40%">
            First name
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
      <tbody>
        <% let studentsKeys = Object.keys(students); %>
        <% for (let i = 0; i < studentsKeys.length; i++) { %>
          <tr>
            <th>
              <%=
                students[studentsKeys[i]].lastName;
              %>
            </th>
            <th>
              <%=
                students[studentsKeys[i]].firstName;
              %>
            </th>
            <th>
              <a href="/checkout/<%= students[studentsKeys[i]].id %>"
              class="btn btn-info col-xs-12">
                Check out
              </a>
            </th>
          </tr>
        <% } %> 
      </tbody>
    </table>
  </div>
</div>