<% let printField = include('fieldHelper.ejs') %>

<div class="jumbotron">
	<h1 class="text-center">Welcome!</h1>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<% for (let i = 0; i < teacherPaths.length; i++) { %>
					<% // Making sure that the mongo's variables don't get included in the output %>	
					<% if (teacherPaths[i].substring(0, 1) !== '_') { %>
						<th>
							<%= printField(teacherPaths[i]); %>
						</th>				
					<% } %>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% for (let i = 0; i < teachers.length; i++) { %>
				
			<% } %>	
		</tbody>
	</table>
</div>