<tr>
  <th width="10%">
    <%=
      entry.time.toLocaleDateString()
    %>
    <br />
    <%=
      entry.time.toLocaleTimeString()
    %>
  </th>
  <td width="90%">
    <table>
      <thead>
        <tr>
          <% 
            let keys = Object.keys(
              mongoose
                .models
                .Student
                .schema
                .obj
            );
          %>

          <% for (let i = 0; i < keys.length; i++) { %>
            <% if (typeof keys[i] !== 'undefined') { %>
              <th>
                <% let currentPath = splitAtCapitals(keys[i]); %>
                <%= currentPath
                      .substring(0, 1)
                      .toUpperCase() +

                    currentPath
                      .substring(1);
                %>
              </th>
            <% } %>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <%-
          include(
            'student.ejs',
            {
              entry: entry.student
            }
          )
        %>
      </tbody>
    </table>
  </td>
</tr>